<div class="container">
  <h1>Welcome to Ruby Racers!</h1>
  <p>Hello, world!</p>
</div>

<form id= "players_details" action="/players/new" method="post">
    <b>Please enter your player 1 name:</b>
    <input type="text" name="player_1"><br>
    <b>Please enter your player 2 name:</b>
    <input type="text" name="player_2">
    <input type="submit", value="Let The Game Begins">
</form>

<div id = "race_track">
</div>